article.post:after {
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  background: #ECECEC;
  border: 1px solid #D6DDEB;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  box-shadow: #fff 0 0 0 5px;
}
