<section class="post-content">
  <p>Bonjour!</p>

  <p>Je m'appelle Pier-Olivier Thibault. Voilà un certain moment que je cuisine et je suis toujours à la recherche de nouveaux trucs intéressant à cuisiner. En quête de recettes, j'en ai essayé de différentes origines. Livre de cuisine, sites de recettes, blogues amateurs, émission de télé, etc. Certaines recettes étaient incroyables, d'autres moins. Il semble que chacune des recettes que je lisais était unique, il doit avoir 1 bazilliard de recettes seulement sur internet. J'ai lu les commentaires pour faire un premier filtre, j'ai regardé les photos, lu les étapes pour essayer de séparer le bon du mauvais. Et j'imagine que vous avez fait la même chose aussi!</p>

  <p>Je suis arrivé à la conclusion que la majorité des sites de recettes ne parlait pas de leurs expériences, leurs erreurs, comme si c'était tabou.</p>

  <p>Comme si les recettes étaient toutes aussi savoureuse les unes que les autres. <br>
    Comme si, en cuisine, l'échec n'existait pas.</p>

  <blockquote>
    <p>Les goûts sont dans la nature</p>
  </blockquote>

  <p>C'est vrai, mais il y a aussi les meilleurs vendeurs dans les restos.</p>

  <p>Je crois qu'il existe, dans tout l'océan de recettes disponibles, des recettes qui sont meilleures que les autres. Des recettes simples et équilibrés que tout le monde peut apprécier. Ce blogue est un recueil de mes expériences (et mes erreurs!) pour réussir à trouver ces recettes qui pourrait vous intéresser. </p>

  <p>Et lorsque je trouverai une recette qui sera digne de mention, je la publierai sur <a href="https://lamarmite.ca">la marmite</a> pour que vous puissiez les essayer à votre tour!</p>

  <p>Bon appétit!</p>
</section>
