@font-face {
  font-family: 'icons';
  src:font-url('icons.eot');
  src:font-url('icons.eot?#iefix') format('embedded-opentype'),
  font-url('icons.woff') format('woff'),
  font-url('icons.ttf') format('truetype'),
  font-url('icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lobster';
  src: font-url('Lobster.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'entypo';
  src: font-url('entypo.eot');
  src: font-url('entypo.eot?#ie') format('embedded-opentype'),
  font-url('entypo.woff') format('woff'),
  font-url('entypo.ttf') format('ttf');
}

@font-face {
  font-family: 'entypo-social';
  src: font-url('entypo-social.eot');
  src: font-url('entypo-social.eot?#ie') format('embedded-opentype'),
  font-url('entypo-social.woff') format('woff'),
  font-url('entypo-social.ttf') format('ttf'),
  font-url('entypo-social.svg#webfont') format('svg');
}

