@mixin entypo {
  .icons {
    font-family: entypo, entypo-social;
    font-size: 2.5em;
    text-decoration: none;
    color: rgb(109, 99, 60);
    margin: 0 8px 0 0;
    transition: color 0.5s;
    &:hover {
      color: #C3BAA3;
    }
  }
}

@mixin post {
  .post {
    display: flex;
    display: -webkit-flex;
    margin: 2em 0;
    align-items: center;
    align-items: center;

    & > h3 {
      flex: 3;
      -webkit-flex: 3;
      margin: 0;
      font-size: 1.6em;
      text-decoration: none;
      padding-right: 1em;
    }

    & > .timestamp {
      flex: 1;
      -webkit-flex: 1;
      color: #998A6B;
      text-align: right;
      padding: 4px 3em 0 3em;
    }

    a {
      font-weight: lighter;
    }
  }
}

@mixin pagination {
  nav.pagination {
    font-size: 1.3em;
    padding: 8px 0;
    text-align: center;
  }
}

@mixin author {
  header {
    flex: 1 40%;
    -webkit-flex: 1 40%;
    color: rgb(75, 71, 52);
    font-size: 2em;
    justify-content: center;
    -webkit-justify-content: center;
    display: flex;
    display: -webkit-flex;
    padding: 0 0 0 2em;
    align-items: center;
    -webkit-align-items: center;

    img {
      width: 128px;
      height: 100%;
    }
    h1 {
      font-size: 1.2em;
      margin: 0;
      width: 100%;
    }

    .author {
      margin-left: 40px;
      text-align: left;
      display: flex;
      display: -webkit-flex;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      align-items: center;
      -webkit-align-items: center;
    }
  }
}

@mixin posts {
  section#posts {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    height: 100vh;
    flex-direction: column;
    -webkit-flex-direction: column;

    @include author;
    @include pagination;

    @include large-screen {
      flex-direction: row;
      -webkit-flex-direction: row;
    }

    ul {
      margin: 0;
    }

    div.paginated.posts {
      flex: 1 60%;
      -webkit-flex: 1 60%;
      @include post;
    }
  }
}

#posts-index {
  @include entypo;

  #adminNavigationOptions {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  main {
    width: 100%;
    section h2 {
      text-align: center;
      margin: 4em 0 1em 0;
    }
    @include posts;
  }
}
