$max-width: 1050px;
$width: 100%;

@mixin entypo {
  .icons {
    font-family: entypo, entypo-social;
    font-size: 2.5em;
    text-decoration: none;
    color: rgb(109, 99, 60);
    margin: 0 8px 0 0;
    transition: color 0.5s;
    &:hover {
      color: #C3BAA3;
    }
  }
}

@mixin post {
  .post {
    display: flex;
    display: -webkit-flex;
    margin: 2em 0;
    align-items: center;

    & > h3 {
      flex: 3;
      margin: 0;
      font-size: 1.6em;
      text-decoration: none;
    }

    & > .timestamp {
      flex: 1;
      color: #998A6B;
      text-align: right;
      padding: 4px 3em 0 3em;
    }

    a {
      font-weight: lighter;
    }
  }
}

@mixin pagination {
  nav.pagination {
    font-size: 1.3em;
    padding: 8px 0;
    text-align: center;
  }
}

@mixin header {
  header {
    flex: 1 40%;
    color: rgb(75, 71, 52);
    font-size: 2em;
    justify-content: center;
    display: flex;
    padding: 0 0 0 2em;

    img {
      width: 128px;
      height: 100%;
    }
    h1 {
      font-size: 1.2em;
      margin: 0;
      width: 100%;
    }
    img, .author {
      vertical-align: middle;
      display: inline-block;
    }

    .author {
      margin-left: 40px;
      text-align: left;
      display: flex;
      display: -webkit-flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }
}

@mixin posts {
  section.posts {
    display: flex;
    display: -webkit-flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
    height: 100vh;
    @include header;
    @include pagination;

    ul {
      margin: 0;
      padding: 0 2em 0 0;
    }

    div.paginated.posts {
      flex: 1 60%;
      @include post;
    }
  }
}

@mixin opensource {
  section.opensource {
    display: flex;
    display: -webkit-flex;
    flex: 1 0 auto;
    width: 100%;
    height: 800px;
    background: rgb(62, 63, 60);
    color: #EFEFEF;
  }
}

#posts-index {
  @include entypo;

  #adminNavigationOptions {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  main {
    display: flex;
    display: -webkit-flex;
    flex: 1 auto;
    flex-wrap: wrap;
    @include posts;
    @include opensource;
  }
}
