$max-width: 1050px;
$width: 100%;

@mixin entypo {
  .icons {
    font-family: entypo, entypo-social;
    font-size: 2.5em;
    text-decoration: none;
    color: inherit;
    margin: 0 8px 0 0;
    transition: color 0.5s;
    &:hover {
      color: #000;
    }
  }
}

@mixin post {
  .post {
    display: flex;
    display: -webkit-flex;
    margin: 2em 0;
    align-items: center;

    & > h3 {
      flex: 3;
      margin: 0;
      font-size: 1.6em;
      text-decoration: none;
    }

    & > .timestamp {
      flex: 1;
      color: #998A6B;
      text-align: right;
      padding: 4px 3em 0 3em;
    }

    a {
      font-weight: lighter;
    }
  }
}

@mixin pagination {
  nav.pagination {
    font-size: 1.3em;
    padding: 8px 0;
    text-align: center;
  }
}

@mixin header {
  header {
    margin: 0 auto;
    flex: 1 40%;
    color: rgb(75, 71, 52);
    font-size: 2em;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0 0 0 2em;

    img {
      width: 128px;
    }
    h1 {
      font-size: 1.2em;
      margin: 0;
    }
    img, .author {
      vertical-align: middle;
      display: inline-block;
    }

    .author {
      margin-left: 40px;
      text-align: left;
    }
  }
}

@mixin posts {
  section {
    display: flex;
    display: -webkit-flex;
    flex: 1 60%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .wrapper {
      ul {
        margin: 0;
        padding: 0 2em 0 0;
        @include post;
      }
      @include pagination;
    }
  }
}

#posts-index {
  @include header;
  @include entypo;

  main {
    display: flex;
    display: -webkit-flex;
    flex: 2 auto;
    @include posts;
  }
}
