@mixin entypo {
  .icons {
    font-family: entypo, entypo-social;
    font-size: 3.5em;
    text-decoration: none;
    color: inherit;
    margin: 0 8px 0 0;
    transition: color 0.5s;
    &:hover {
      color: #000;
    }
  }
}

@mixin post {
  .post {
    display: flex;
    display: -webkit-flex;
    margin: 2em 0;
    align-items: center;

    & > h3 {
      flex: 3;
      margin: 0;
      font-size: 1.6em;
      text-decoration: none;
    }

    & > .timestamp {
      flex: 1;
      color: #C4B596;
      text-align: center;
    }
  }
}

@mixin pagination {
  nav.pagination {
    display: inline-block;
    margin: 24px 0;
    font-size: 1.3em;
    padding: 8px 0;
    text-align: center;
  }
}

@mixin header {
  header {
    display: flex;
    display: -webkit-flex;
    flex: 1 0 auto;
    flex-direction: column;
    color: rgb(75, 71, 52);
    padding: 0 10em;
    font-size: 2em;
    text-align: center;
    h1 {
      font-size: 2em;
    }
  }
}

@mixin body {
  section {
    display: flex;
    display: -webkit-flex;
    flex: 2 auto;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1050px;

    ul {
      flex: 1 auto;
      margin: 0 5%;
      width: 100%;
      @include post;
    }
    @include pagination;
  }
}

@mixin footer {
  footer {
    display: flex;
    flex-direction: column;
    flex: 1 auto;
  }
}

#posts-index {
  @include header;
  @include body;
  @include footer;
  @include entypo;
}
