@import "shared/**/*";
@import "blog/**/*";
@import "post";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

$header-height: 46px;
$fonts: 'Open sans', Helvetica, sans-serif;

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body {
  display: flex;
  display: -webkit-flex;
  flex: 1 auto;
  -webkit-flex: 1 auto;
}

html {
  min-height: 100%;
}

a {
  color: #485B77;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFF9F0;
  font-family: $fonts;
  font-weight: 200;
  font-size: 13px;
  color: #6d645c;
  flex-direction: column;
  -webkit-flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
}
