/*
 *= require_self
 *= require_tree ./blog
 *= require_tree ./shared
 *= require post
 */

$header-height: 46px;
$fonts: Helvetica, sans-serif;

html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a {
  color: rgb(114, 153, 204);
}

body {
  margin: 0;
  padding: 0;
  font-family: $fonts;
  font-weight: 200;
  font-size: 13px;
  color: #6d645c;
  background-image: url(image-path('texture-bg.jpg'));
}
