//= require_tree ./post
//= require_tree ./shared

@mixin header {
  header {
    background-size: cover;
    padding: 3em;
    color: rgb(248, 248, 248);
    text-shadow: 0 1px 3px #494127;
  }
}

.content.preview, article.post {
  position: relative;
  width:80%;
  max-width: 800px;
  margin: 10rem auto;
  border: 10px solid #FFF;
  word-break: break-word;
  hyphens: auto;
  background: #F1F0EA;
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.3);

  @include header;

  .post-content {
    padding: 3em;
  }
}

article.post:after {
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  background: #ECECEC;
  border: 1px solid #D6DDEB;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.post-title {
  margin:0;
}

.post-title a {
  text-decoration: none;
}

.post-excerpt p {
  margin: 1.6rem 0 0 0;
  font-size: 0.9em;
  line-height: 1.6em;
}

.post-meta {
  display: inline-block;
  margin: 0 0 5px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  color: #9EABB3;
}

.post-meta a {
  color: #9EABB3;
  text-decoration: none;
}

.post-meta a:hover {
  text-decoration: underline;
}
.fb-comments.fb_iframe_widget {
  width: 700px;
  display: block;
  margin: 0 auto;
}
