@mixin posts-large {

  article.post {
    background-size: cover;
    background-repeat: no-repeat;

    span, p {
      text-shadow: 0px 1px 0px #3F4A5C;
    }

    .post-excerpt {
      text-shadow: 0px -1px 0px #747474;
      color: #FFFFFF;
    }
  }
}

@mixin posts-small {
  @media (max-width: 600px) {
    article.post {
      h2 a {
        font-size: 3rem;
        line-height: 1rem;
      }
    }
  }
}

#blogHeader {
  margin: 100px 0;
  height: 400px;
  text-align: center;
  & > img {
    width: 160px;
    vertical-align: top;
  }

  & > p {
    width: 25%;
    margin: 60px auto;
    font-size: 1.4em;
    line-height: 1.5em;
  }
}

#indexNavigation {
  height: 500px;
  text-align: center;
  background: rgba(219, 215, 204, 0.5);
  .icons {
    font-family: entypo-social;
    font-size: 8em;
    text-decoration: none;
    margin: 0 24px;
  }

  .wrapper {
    padding: 100px 0;

    p {
      font-size: 1.3em;
      line-height: 1.3em;
    }
  }
}

#home {
  @include posts-large;
  @include posts-small;
}
