<main>
  <section id="posts">
    <header>
      <%= image_tag 'profile.jpg' %>
      <div class="author">
        <h1>P.O Thibault</h1>
        <a class="icons" href="https://twitter.com/pothibo" target="_blank">&#62217;</a>
        <a class="icons" href="https://github.com/pothibo" target="_blank">&#62208;</a>
        <a class="icons" href="mailto:pothibo@gmail.com">&#9993;</a>
      </div>
    </header>
    <div class="paginated posts">
      <ul>
        <% posts.each do |post| %>
          <%= render "post", post: post %>
        <% end %>
      </ul>
      <%= paginate posts %>
    </div>
  </section>

  <section id="mailingList">
    <h2>Never miss an update</h2>
    <form action="http://pothibo.us4.list-manage.com/subscribe/post?u=c1a7606ebf0d844b14ef03fdf&amp;id=a0ae11323b" method="post" target="_blank" novalidate>
      <p>Get exclusive content and stay up to date by signing up to my mailing list.</p>
      <input type="email" value="" name="EMAIL" class="required email" placeholder="your@email.com">
      <button>Subscribe</button>
      <p class="no-span">You will never receive spam, ever.</p>
      <a name="subscribe"></a>
    </form>

  </section>

</main>

